appnope==0.1.0
arrow==0.7.0
cffi==0.8.6
colorama==0.3.7
colour==0.1.2
decorator==4.0.9
docutils==0.12
enum34==1.1.2
gitdb==0.6.4
GitPython==0.3.6
greenlet==0.4.0
ipython==4.1.2
ipython-genutils==0.1.0
nomine==0.0.2
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pypi-publisher==0.0.4
python-dateutil==2.5.0
readline==6.2.4.1
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
smmap==0.9.0
statistics==1.0.3.5
termcolor==1.1.0
traitlets==4.2.1
